<h1 align="center">Course Listing</h1>

<% @courses.each do |course|%>
    <div class="course">
        <div class="card" style="width: 28rem;">
            <div class="card-body">
                <h5 class="card-title"><%= course.short_name %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= course.name %></h6>
                <p class="card-text"><%= course.description %></p>
                <% if !course.already_enrolled?(course.id,current_user.id) %>
                    <%= link_to 'Enroll', course_enroll_path(course_id: course), class: "card-link", method: :post   %>
                <% else %>
                    <p class="badge badge-sm-3">Enrolled</p>                    
                <% end %>
                <%= link_to 'Info', '#', class: "card-link" %>
            </div>
        </div>
    </div>
<% end %>